{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Book Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h1 class="logo"> <a href="{% url 'home' %}">Книжный магазин</a> </h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li><a href="{% url 'create_book' %}">Добавить книгу</a></li>
                        {% endif %}
                        <li><a href="#">{{ user.first_name|default:user.email }}</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>